/* Variable Declarations and Default Settings */

:root {
  --darkblue: #0b0c10;
  --mediumblue: #212833;
  --lightteal: #67fcf1;
  --mediumteal: #46a29e;
  /* --darkteal: #14A697; */
  --grey: #c5c6c7;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 2em;
}

h5,
h6 {
  color: var(--mediumblue);
  font-weight: 700;
}

p {
  color: var(--mediumteal);
}

body {
  font-family: 'Encode Sans', sans-serif;
}

.row {
  padding-bottom: 2vh;
}

section {
  padding: 1.25em;
}

.section_title {
  text-align: center;
  padding: 1em 0;
}

a:link,
a:visited {
  text-decoration: none;
}

/* Navbar Styles */

.navbar {
  background-color: var(--darkblue);
}

.nav-link {
  color: var(--lightteal) !important;
  opacity: 0.6;
}

.navActive {
  color: #fff !important;
}

.navbar-nav {
  align-content: flex-end;
}

.navbar-nav ul {
  align-content: flex-end;
}

.navbar-nav li {
  padding-left: 1em;
  align-self: flex-end;
}

.navbar-nav a {
  font-size: 1.5em;
  padding: 1em;
}

.navbar-nav a:hover {
  color: var(--grey);
  background-color: var(--lightblue);
}

#navbar-title {
  font-size: 3.3em;
  font-weight: 700;
  text-align: center;
  color: var(--lightteal);
  margin: 0 auto;
}

.navbar-brand {
  white-space: normal;
}

/* About Me Styles */

.bio {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkblue);
  color: var(--lightteal);
  text-align: center;
}

.my-bio {
  flex-direction: row;
  padding-left: 1em;
  flex: 2 80%;
  font-size: 1em;
  display: flex;
}

.bio p {
  flex: 1 70%;
  color: var(--grey);
}

/* Portfolio Styles + Modal Styles */
.portfolio {
  display: flex;
  color: var(--lightteal);
  background-color: var(--mediumblue);
}

.my_portfolio {
  margin-bottom: 1vh;
  padding-left: 1.25em;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.img {
  height: auto;
  width: 100%;
  padding: 1 1;
}

.modal-header,
.modal-footer {
  background-color: var(--mediumblue);
}

.modal-text {
  font-weight: 600;
}

.modal-link,
.modal-link a {
  font-size: 0.85em;
  color: var(--darkblue);
}

/* Contact Form Styles */
.contact {
  display: flex;
  color: var(--lightteal);
  background-color: var(--mediumblue);
  height: 75vh;
  padding-top: 3em;
}

.form-row > label {
  padding: 0.5em 1em 0.5em 0;
  flex: 1;
  padding-bottom: 0.5em;
  font-size: 1.4em;
}

.form-row > input,
.form-row > textarea {
  width: 25vw;
  height: 3vh;
  float: right;
  flex: 2;
  padding-bottom: 0.5em;
}

.form-row > textarea {
  height: 30vh;
}

.form-row > button {
  font-size: 1.3em;
  align-self: center;
}

.formButton {
  align-self: flex-end;
}

/* Resume Styles */
.resume {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkblue);
  color: var(--lightteal);
  text-align: center;
}

.proficiencies {
  margin-top: 5vh;
}

.proficiencies li {
  text-align: start;
}

/* Footer Styles */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkblue);
  color: var(--grey);
}

.copyright {
  text-align: center;
  margin-top: 1em;
  font-size: 1em;
}

.contact-icon {
  font-size: 5em;
  color: var(--lightteal);
  padding: 1em, 1em;
}

/* Bootstrap */
.img-card {
  text-align: center;
  margin-bottom: 1.2em;
  background-color: var(--grey);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-text {
  font-weight: 500;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .row {
    padding-bottom: 0;
  }

  .contact-icon {
    font-size: 3em;
    color: var(--lightteal);
    padding: 1em, 1em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
